# H1: H1 style headding

In this notebook, Data Science Tools and Ecosystem are summarized.

 **Objectives:** 

  * Listing popular languages Data Scientists use.
  * Listing popular Libraries Data Scientists use.
  * Simple arithmetic
  * Createing a table
  * Evaluating an arithmetic expression

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. c++

Some of the commonly used libraries used by Data Scientists include:

1. dplyr
2. sstringr
3. ggplot

| Data Science Tools|
|-|
|NumPy|
|Scikit-learn|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [24]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [94]:
#This will convert 200 minutes to hours by diving by 60
print("200 minutes=",200/60, "hours")

200 minutes= 3.3333333333333335 hours

## Author
Aradhan